{
    "__version": "2.13.0",
    "__comments": "vCenter Template to deploy VMware learning environment.",
    "new_vcsa": {
        "esxi": {
            "hostname": "{{ esxi_guest_ip }}",
            "username": "{{ esxi_guest_os_username }}",
            "password": "{{ esxi_guest_os_password }}",
            "deployment_network": "{{ vcenter_deployment_network_name }}",
            "datastore": "{{ vcenter_deployment_datastore_name }}"
        },
        "appliance": {
            "thin_disk_mode": {{ vcenter_thin_disk_mode }},
            "deployment_option": "{{ vcenter_size }}",
            "name": "{{ vcenter_vm_name }}"
        },
        "network": {
            "ip_family": "{{ vcenter_ip_family }}",
            "mode": "{{ vcenter_ip_mode }}",
            "ip": "{{ vcenter_ip }}",
            "dns_servers": {{ vcenter_dns_servers }},
            "prefix": "{{ vcenter_prefix }}",
            "gateway": "{{ vcenter_gateway }}",
            "system_name": "{{ vcenter_hostname }}"
        },
        "os": {
            "password": "{{ vcenter_os_password }}",
            "ntp_servers": "{{ vcenter_ntp_servers }}",
            "ssh_enable": {{ vcenter_ssh_enable }}
        },
        "sso": {
            "password": "{{ psc_sso_password }}",
            "domain_name": "{{ psc_sso_domain_name }}"
        }
    },
    "ceip": {
        "settings": {
            "ceip_enabled": {{ vcenter_ceip_enabled }}
        }
    }
}